@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

.container{
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr ;
    grid-template-areas: " header header"
                        "main main"
                       ;                     
}



.header{
    background-color: rgb(253, 252, 252);
    grid-area: header;
}

.main{
    background-color: rgb(0, 0, 0);
    grid-area: main;
}


/* navbar */

nav {
    position: absolute;
    top: 3%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  
  nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #030303;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
    
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: purple;
  }
  
  nav a:nth-child(1):after {
    background-color: rgb(0, 195, 255);
  }
  
  nav a:nth-child(2):before {
    background-color:  purple;
  }
  
  nav a:nth-child(2):after {
    background-color: #00c3ff;
  }
  
  nav a:nth-child(3):before {
    background-color: purple;
  }
  
  nav a:nth-child(3):after {
    background-color: rgb(8, 195, 252);
  }
  
  #indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: #bd35b6;
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg,rgb(0, 139, 194), palevioletred);
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg,rgb(0, 139, 194), palevioletred);
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(0, 139, 194), palevioletred);
  }


/* Main content */

.main{
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;              
  text-align: left;
  margin-left: 80px;
  height: 50vh;             
  z-index: 2;
}

.main-content p{
  color: #fff;
}

.speed {
  width: 100%;
  height: 60vh;
  background-color: black;
  margin-top: -23%;
  z-index: 0;
}

.input{
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.input input{
  border: none;
  border-radius: 0.8rem;
  width: 21rem;
  height: 3rem;
  outline: none;
  padding-left: 15px;
  background-color: black;
  border: 4px solid #bd35b6;
  color:#bd35b6;
  font-weight: bold;
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.04em 0.1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 1.5em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-left:0.8em ;
  margin-right: -0.9em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.socrates{
  width: 700px;
  height: 750px;
  position: absolute;
  left: 50%;
  top: 6%;
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}


@media (max-width: 768px) {
  .main {
    height: 120%;
  }
}

@media (min-width:769px) {
  .main {
    height: 100%;
  }
}

